html {
  margin: 0;
}

span {
  display: block;/* #this is used to make the span element a block element so that it takes the full width of the parent element. */
}

.canvas {
  margin: 100px auto 100px;
  /* auto means left and right margin is auto to center the element horizontally. */
  width: 80%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display:inline-block;
  /* // inline-block is used to make the element inline but also allow to set width and height.
  inline means the element will be displayed in the same line as other elements.
  //block means the element will be displayed in a new line. */
}

#grey {
  background: grey;
}

#white {
  background: white;
}
#blue {
  background: blue;
}
#yellow {
  background: yellow;
}

* {
  box-sizing: border-box;
  /* this means the padding and border will be included in the total width and height of the element. */
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px rgb(22, 22, 22);
  text-align: center;
  text-decoration: none;
  color: #1b1b1b;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project-link {
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;
  margin-top: 5px;
}
